body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#books {
  margin: 3rem 0rem 3rem;
  display: flex;
  justify-content: center;
  background-color: rgb(105, 210, 194);
  width: 50rem;
  padding: 2rem;
}

#book-details {
  line-height: 1.5rem;
}

.book-info {
  margin: 0.5rem;
}

#book-details {
  display: flex;
  flex-direction: column;
}

#book {
  margin: 3rem 1rem 1rem;
  display: flex;
  justify-content: center;
  background-color: rgb(105, 210, 194);
  width: 30rem;
  padding: 2rem;
}

.book-cards {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 15rem 15rem 15rem;
}

.book-card {
  margin: 1rem;
  background-color: rgb(255, 241, 45);
  width: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  box-shadow: 0.4rem 0.3rem 0.3rem rgb(218, 90, 139);
}

.card-header {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

#check-out-log {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

#error-message {
  display: flex;
  justify-content: center;
  color: rgb(218, 90, 139);
  font-weight: bold;
  margin-bottom: 3rem;
}

form > span {
  display: flex;
}

form > span > input {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

form > select {
  margin-top: 0.5rem;
}

form > input {
  margin-top: 0.5rem;
}

.form-inputs {
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.form-header {
  grid-area: form-header;
  align-self: center;
  justify-self: left;
}

h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Monoton', cursive;
  word-spacing: 0.5rem;
}

h2 {
  text-align: center;
  margin-top: 0;
  font-size: 1.2rem;
}

header {
  height: 6rem;
  background-image: url("/static/images/books.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-basis: 100%;
  box-shadow: 0rem 0.3rem 0.3rem rgb(218, 90, 139);
}

#logo {
  font-family: "Monoton", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  padding: 2rem;
  word-spacing: 0.5rem;
}

#menu{
  display: flex;
  padding: 1rem;
  color: white;
  gap: 2rem;
  padding-right: 2rem;
  list-style-type: none;
}

#menu li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

#menu li a:visited {
  color: white;
}

.menu li {
  padding-right: 1rem;
  color: white;
  font-family: "Helvetica", arial, sans-serif; font-size: 14px;
}

.no-books-found {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

/* Form Grid */

.first-name-label {
  grid-area: first-name-label;
  justify-self: right;
  padding-right: 0.5rem;
}

.first-name-input {
  grid-area: first-name-input;
}

.last-name-label {
  grid-area: last-name-label;
  justify-self: right;
  padding-right: 0.5rem;
}

.last-name-input {
  grid-area: last-name-input;
}

.title-label {
  grid-area: title-label;
  justify-self: right;
  padding-right: 0.5rem;
}

.title-input {
  grid-area: title-input;
}

.author-label {
  grid-area: author-label;
  justify-self: right;
  padding-right: 0.5rem;
}

.author-input {
  grid-area: author-input;
}

.genre-label {
  grid-area: genre-label;
  justify-self: right;
  padding-right: 0.5rem;
}

.genre-input {
  grid-area: genre-input;
}

.submit-btn {
  grid-area: submit-btn;
}

.submit-btn {
  grid-column: 3 / -1;
}

.authors-form > form {
  display: grid;
  margin: 1rem 0 3rem;
  align-items: end;
  justify-items: stretch;
  justify-content: center;
  grid-template-columns: 10rem 10rem 20rem;
  grid-template-areas: 
    "form-header first-name-label first-name-input"
    "form-header last-name-label last-name-input"
    "form-header submit-btn submit-btn";
}

.books-form > form {
  display: grid;
  margin: 1rem 0 3rem;
  align-items: end;
  justify-items: stretch;
  justify-content: center;
  grid-template-columns: 10rem 5rem 20rem;
  grid-template-areas: 
    "form-header title-label title-input"
    "form-header author-label author-input"
    "form-header genre-label genre-input"
    "form-header submit-btn submit-btn";
}

#update-status {
  padding-top: 1.5rem;
  line-height: 1.3rem;
}

#update-status > span {
  margin-bottom: 0.5rem;
  display: flex;
}

#edit-remove {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

#edit-remove > form > input {
  width: 7rem;
}

#view-all-books {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  #logo {
    font-size: 1.6rem;
  }

  #menu li a {
    font-size: 1.1rem;
  }

  #books {
      width: 100%;
      margin: 2rem;
  }

  .books-form > form {
      display: grid;
      margin: 1rem 0 3rem;
      align-items: start;
      justify-items: stretch;
      justify-content: center;
      grid-template-columns: 3rem 14rem;
      grid-template-areas:
        "form-header form-header"
        "title-label title-input"
        "author-label author-input"
        "genre-label genre-input"
        "submit-btn submit-btn";
  }

  .books-form > form > input {
      margin: 0 0 1rem;
      justify-content: space-around;
  }

  .books-form > form > select {
    margin: 0 0 1rem;
    width: 14rem;
    height: 1.4rem;
  }

  .authors-form > form {
    display: grid;
    margin: 1rem 0 3rem;
    align-items: start;
    justify-items: stretch;
    justify-content: center;
    grid-template-columns: 8rem 12rem;
    grid-template-areas:
      "form-header form-header"
      "first-name-label first-name-input"
      "last-name-label last-name-input"
      "submit-btn submit-btn";
  }

  .authors-form > form > input {
      margin: 0 0 1rem;
      justify-content: space-around;
  }

  .book-cards {
      grid-template-columns: 15rem 15rem;
  }

  .form-header {
      align-self: center;
      justify-self: center;
      padding-bottom: 1rem;
  }

  .submit-btn {
      grid-column: 2 / -1;
  }
}

@media (max-width: 600px) {
  #logo {
    font-size: 1rem;
  }

  #menu li a {
    font-size: 1rem;
  }

  #menu {
    gap: 1rem;
    padding-right: 1rem;
  }

  .books-form > form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .books-form > form > input {
      margin: 0 0 1rem;
  }

  .books-form > form > select {
    margin: 0 0 1rem;
    width: 10.7rem;
    height: 1.4rem;
}

  .authors-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .authors-form > form > input {
      margin: 0 0 1rem;
  } 

  .book-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

}