<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/books -->
        <link href="/static/images/favicon.ico" rel="icon">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


        <title>{% block title %}{% endblock %} | Retro Library</title>

    </head>
<body>
    <header>
        <span id="logo">RETRO LIBRARY</span>
        <nav>
            <ul id="menu">
              <li><a href="/books">All Books</a></li>
              <li><a href="/books/new">Add Book</a></li>
              <li><a href="/authors/new">Add Author</a></li>
            </ul>
        </nav>
    </header>
    {% block main %}{% endblock %}
</body>
</html>
